@import 'breakpoints';

.loader {
  .loaderInner {
    .transitionImage {
      position: relative;
      // height: 75vh;
      margin: 1rem;

      @media (min-width: $layout-breakpoint-small) {
        margin: 5rem;
      }

      img {
        @media (min-width: $layout-breakpoint-small) {
          height: 80vh;
        }
        object-fit: contain;
      }
      &.final {
        display: block;
        top: -128px;
        position: relative;
        width: 90%;
        margin: 0 auto;
        z-index: -100;
        @media (max-width: $layout-breakpoint-xsmall) {
          top: -56px;
        }
        img {
          width: 100%;
          max-width: 100%;
        }
      }
    }

    .imageBlock {
      position: absolute;
      transform-origin: center;
      display: flex;
      align-items: center;
      justify-content: center;

      &.image-1 {
        width: 400px;
        left: 16%;
        bottom: 14%;
        @media (max-width: $layout-breakpoint-xsmall) {
          left: 4%;
          bottom: 28%;
        }
      }
      &.image-3 {
        width: 300px;
        right: 12%;
        top: 8%;
        @media (max-width: $layout-breakpoint-xsmall) {
          top: 16%;
          right: 4%;
        }
      }
      &.image-4 {
        max-width: 400px;
        width: 40%;
        right: 20%;
        bottom: 10%;
        @media (max-width: $layout-breakpoint-xsmall) {
          right: 6%;
          bottom: 32%;
        }
      }
      &.image-5 {
        width: 280px;
        left: 14%;
        top: 12%;
        @media (max-width: $layout-breakpoint-xsmall) {
          left: 6%;
          top: 18%;
        }
      }
      img {
        width: 100%;
        object-fit: fill;
      }
    }
  }
}
